@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registeration</title>
</head>
<body>
    <h2>@Model.FirstName    @Model.LastName</h2>
    <h2>@Model.Email</h2>
    Password: @Model.Password
</body>
</html>
